@model EMS.Entity.DtoModel.ExhibitorDto

@{
    ViewData["Title"] = "Create";
    List<EMS.Entity.Entities.Province> provinceList = ViewBag.ProvincesDetail;
    ViewData["Title"] = "Create";
    ViewData["Nav"] = "Exhibitor";
    ViewData["Nav2"] = "Request Exhibitor Account";
}

@section Breadcrumbs{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Exhibitor" asp-action="Index">@ViewData["Nav"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Nav2"]</li>
    </ol>
}
<div class="card-header">
    <div class="panel-heading">चलचित्रघर दर्ता </div>
    <div class="small-device-alert">
        <div class="alert alert-danger">
            For this operation you must have computer. It supports only on laptop, Desktop , PC .
        </div>
    </div>
</div>
<div class="card-body">

    <form asp-action="Create" method="post" enctype="multipart/form-data" id="form">
        <div class="req-attention">Attention: '*' indicates necessary fields.  </div>
        <legend> १) चलचित्रघरको :</legend>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">

                    <label asp-for="NepaliName" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="NepaliName" class="form-control" />
                        <span asp-validation-for="NepaliName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">

                    <label asp-for="EnglishName" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="EnglishName" class="form-control" />
                        <span asp-validation-for="EnglishName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">

                    <label asp-for="District" class="control-label"></label>
                    <div class="form-label-group">
                        <select asp-for="District" class="form-control">
                            <option disabled>
                                - Select District -
                            </option>
                            @foreach (var province in provinceList)
                            {
                                <optgroup label="@province.ProvinceName">
                                    @foreach (var district in province.Districts)
                                    {
                                        <option value="@district.DistrictName">@district.DistrictName</option>
                                    }
                                </optgroup>


                            }
                        </select>
                        <span asp-validation-for="District" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">

                    <label asp-for="Municipality" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="Municipality" class="form-control" />
                        <span asp-validation-for="Municipality" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">

                    <label asp-for="wada" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="wada" class="form-control" />
                        <span asp-validation-for="wada" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">

                    <label asp-for="Tol" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="Tol" class="form-control" />
                        <span asp-validation-for="Tol" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <legend>२) चलचित्र प्रदर्शन इजाजत लिएको मिति <span class="req"> * </span>:</legend>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">

                    <label asp-for="PermissionDate" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="PermissionDate" class="form-control" />
                        <span asp-validation-for="PermissionDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">

                    <label asp-for="LastDate" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="LastDate" class="form-control" />
                        <span asp-validation-for="LastDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <legend>३) चलचित्रघरको प्रबिधि :</legend>

                    <label asp-for="DisplayTech" class="control-label"></label>
                    <div class="form-label-group">
                        <select asp-for="DisplayTech" class="selectpicker" name="DisplayTech">
                            <option value="celluloid/सेल्युलाईड" selected>सेल्युलाईड</option>
                            <option value="digital/डिजिटल">डिजिटल</option>
                            <option value="video/भिडियो">भिडियो</option>
                            <option value="others/अन्य">अन्य</option>
                        </select>
                        <span asp-validation-for="DisplayTech" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

       
            <legend>४. चलचित्र घरको किसिम :</legend>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">

                        <label asp-for="HallType" class="control-label"></label>
                        <div class="form-label-group">
                            <input asp-for="HallType" class="form-control" />
                            <span asp-validation-for="HallType" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <legend> ५. चलचित्रघरको  :</legend>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">

                        <label asp-for="HallCategory" class="control-label"></label>
                        <div class="form-label-group">
                            <select asp-for="HallCategory" class="selectpicker" name="HallCategory">
                                <option value="ka+/क+" selected>क+ </option>
                                <option value="ka/क">क</option>
                                <option value="kha/ख">ख</option>
                                <option value="video/भिडियो">भिडियो</option>
                                <option value="multiplex/मल्टिप्लेक्स">मल्टिप्लेक्स</option>
                                <option value="megaplex/मेगाप्लेक्स">मेगाप्लेक्स</option>
                            </select>
                            <span asp-validation-for="HallCategory" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <label asp-for="HallCapacity" class="control-label"></label>
                        <div class="form-label-group">
                            <input asp-for="HallCapacity" class="form-control" />
                            <span asp-validation-for="HallCapacity" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">

                        <label asp-for="ProjectorName" class="control-label"></label>
                        <div class="form-label-group">
                            <input asp-for="ProjectorName" class="form-control" />
                            <span asp-validation-for="ProjectorName" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>
            <legend>
                ६) भन्सार महशुल छुटमा ल्याएको:
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label asp-for="TaxationReliefDetails" class="control-label"></label>
                            <div class="form-label-group">
                                <input asp-for="TaxationReliefDetails" class="form-control" />
                                <span asp-validation-for="TaxationReliefDetails" class="text-danger"></span>
                            </div>
                        </div>
                </div>
                </div>
            </legend>
            <legend> ७) चलचित्रघर धनि वा प्रोपाइटरको:</legend>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label asp-for="Proprietor" class="control-label"></label>
                        <div class="form-label-group">
                            <input asp-for="Proprietor" class="form-control" />
                            <span asp-validation-for="Proprietor" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <label asp-for="ProprietorEmail" class="control-label"></label>
                        <div class="form-label-group">
                            <input asp-for="ProprietorEmail" class="form-control" />
                            <span asp-validation-for="ProprietorEmail" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">

                        <label asp-for="ProprietorPhone" class="control-label"></label>
                        <div class="form-label-group">
                            <input asp-for="ProprietorPhone" class="form-control" />
                            <span asp-validation-for="ProprietorPhone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <label asp-for="FirmName" class="control-label"></label>
                        <div class="form-label-group">
                            <input asp-for="FirmName" class="form-control" />
                            <span asp-validation-for="FirmName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            @*<legend>संलग्न गर्नुपर्ने कागजहरु</legend>
            <div class="size">Attention: We accept only PDF file and File size should not exceed 2MB</div>
            
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">

                            <label asp-for="HallPermissionDoc" class="control-label"></label>
                            <div class="form-label-group">
                                <input type="file" asp-for="HallPermissionDoc" id="HallPermissionDoc" name="HallPermissionDoc" accept="application/pdf" size="2048000" />
                                <span asp-validation-for="HallPermissionDoc" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <label asp-for="CompanyRegDoc" class="control-label"></label>
                            <div class="form-label-group">
                                <input type="file" asp-for="CompanyRegDoc" id="CompanyRegDoc" name="CompanyRegDoc" accept="application/pdf" size="2048000" />
                                <span asp-validation-for="CompanyRegDoc" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">

                            <label asp-for="CheckcommitteeDoc" class="control-label"></label>
                            <div class="form-label-group">
                                <input type="file" asp-for="CheckcommitteeDoc" id="CheckcommitteeDoc" name="CheckcommitteeDoc" accept="application/pdf" size="2048000" />
                                <span asp-validation-for="CheckcommitteeDoc" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="ExhibPermissionDoc" class="control-label"></label>
                            <div class="form-label-group">
                                <input type="file" asp-for="ExhibPermissionDoc" id="ExhibPermissionDoc" name="ExhibPermissionDoc" accept="application/pdf" size="2048000" />
                                <span asp-validation-for="ExhibPermissionDoc" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">

                            <label asp-for="IncomeTaxDoc" class="control-label"></label>
                            <div class="form-label-group">
                                <input type="file" asp-for="IncomeTaxDoc" id="IncomeTaxDoc" name="IncomeTaxDoc" accept="application/pdf" size="2048000" />
                                <span asp-validation-for="IncomeTaxDoc" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <label asp-for="LocalBodyDoc" class="control-label"></label>
                            <div class="form-label-group">
                                <input type="file" asp-for="LocalBodyDoc" id="LocalBodyDoc" name="LocalBodyDoc" accept="application/pdf" size="2048000" />
                                <span asp-validation-for="LocalBodyDoc" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">

                            <label asp-for="RegDoc" class="control-label"></label>
                            <div class="form-label-group">
                                <input type="file" asp-for="RegDoc" id="RegDoc" name="RegDoc" accept="application/pdf" size="2048000" />
                                <span asp-validation-for="RegDoc" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>*@

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <input type="submit" value="Create" class="btn btn-primary pull-right" />
                        </div>
                    </div>
                </div>
</form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
