@model EMS.Entity.Entities.BannerInfo

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BannerInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NepaliName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NepaliName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnglishName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnglishName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegisterationNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisterationNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShareHolderAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShareHolderAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShareHolderName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShareHolderName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShareHolderPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShareHolderPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormRegDoc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormRegDoc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaxRegDoc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaxRegDoc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
