@model IEnumerable<EMS.Entity.DtoModel.BannerDto>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table" id="tblDatatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnglishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterationNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShareHolderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShareHolderPhone)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
        
            <td>
                @Html.DisplayFor(modelItem => item.EnglishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterationNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShareHolderName)
            </td>
          
            <td>
                <a asp-action="Edit" asp-route-id="@item.BannerId" title="Edit"><i class="fas fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.BannerId" title="Details"><i class="fas fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.BannerId" title="Delete"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
