@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table" id="tblDatatable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>

                <a asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="fas fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id" title="Details"><i class="fas fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" title="Delete"><i class="fas fa-trash"></i></a>

            </td>
        </tr>
    }

</table>
