@model EMS.Entity.DtoModel.TravelDto

@{
    ViewData["Title"] = "Create";
    ViewData["Nav"] = "Expenses";
    ViewData["Nav2"] = "Request Expense";

    var user = await _userManager.GetUserAsync(User);

    var isFinance = User.IsInRole("Finance").ToString();

}
@inject UserManager<ApplicationUser>  _userManager;
@section Breadcrumbs{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Expenses" asp-action="Index">@ViewData["Nav"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Nav2"]</li>
    </ol>
}
<div class="card-header">

    <a asp-action="Create" class="btn btn-primary">
        <i class="fas fa-plus"></i>
        New Expense
    </a>
</div>
<div class="card-body">
    <form asp-action="Create" method="post" enctype="multipart/form-data" id="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="EmployeeFName" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="EmployeeFName" value="@user.FirstName" class="form-control" />
                        <span asp-validation-for="EmployeeFName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="EmployeeLName" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="EmployeeLName" value="@user.LastName" class="form-control" />
                        <span asp-validation-for="EmployeeLName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">

                    <label asp-for="Destination" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="Destination" class="form-control" />
                        <span asp-validation-for="Destination" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="Purpose" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="Purpose" class="form-control" />
                        <span asp-validation-for="Purpose" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="StartDate" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label asp-for="EndDate" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="StartTime" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label asp-for="EndTime" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="RecieptFile" class="control-label"></label>
                    <div class="form-label-group">
                        <input type="file" asp-for="RecieptFile" class="form-control" id="RecieptFile" name="RecieptFile" />
                        <span asp-validation-for="RecieptFile" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>
        <hr />
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-4 ">
                <br />
                <input type="button" value="Add Expenses" data-toggle="modal" data-target="#loginModal" class="button primary" />
            </div>
        </div>
        <hr />
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-10 col-md-offset-1">
                <br />
                <br />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            
                            <td>Details</td>
                            <td>Price </td>
                            <td>Date</td>
                            
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="Items"></tbody>
                </table>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <input type="submit" value="Create" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>
    </form>
</div>


<!--modal form-->
<div class="row">
    <div class="col-md-6">
        <div class="modal fade bs-example-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <h4 class="modal-header">Select Expenses</h4>
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-md-6">
                                <label class="control-label">Expenses Category</label>
                                @Html.DropDownList("Details", new SelectList(ViewBag.ExpensesList, "Value", "Text"), "Select Expenses Category", new { @class = "form-control mstexpense", id = "Details" })

                                <div>
                                    <label class="control-label">Description</label>
                                    @Html.Editor("Date", new { htmlAttributes = new { @class = "form-control",@type="date", id = "Date" } })

                                    <label class="control-label">Price</label>
                                    @Html.Editor("Expenses", new { htmlAttributes = new { @class = "form-control",@type="number", id = "Price" } })
                                    <br />
                                </div>
                            </div>

                        </div>
                    </div>
                    <input type="hidden" value=@isFinance id="isFinance" />
                    <div class="modal-footer">
                        <a id="btnAdd" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </a>
                        <a id="BtnClose" class="btn btn-danger" data-dismiss="modal">
                            <span class="glyphicon glyphicon-off"></span> Close
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function(){
         
            if ($('#isFinance').val() !="" && $('#isFinance').val() == 'True')
              {
                    $("#form input, #form select").prop("readonly", true);
                    $("#form input").prop("disabled", true);
              }
        });
        //   $("#form").submit({
        //    $.ajax

        //});

         $("#btnAdd").on('click', function () {
        var date = $('#Date').val();
        var details = $("#Details option:selected").text();
        var price = $("#Price").val();
        //var quantity = $("#Quantity").val();
        //var amount = $("#Amount").val();

        var row = `<tr>
                    <td class="date">${date}</td>
                    <td class="details">${details}</td>
                    <td class="expenses">${price}</td>
                
                    <td>
                        <a class="btn btn-danger btn-sm btnDelete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>`;

        $('#Items').append(row);
        calculateSum();
        //clearValue();
         });

     
 function calculateSum() {
        var sum = 0;
        // iterate through each td based on class and add the values
        $(".price").each(function () {

            var value = $(this).text();
            // add only if the value is number
            if (!isNaN(value) && value.length !== 0) {
                sum += parseFloat(value);
            }
        });

        //$('#TotalAmount').val(sum);
        //var a = $('#TotalAmount').val();
        //var b = $('#GivenAmount').val();
        //$('#ChangeAmount').val(a - b);
        };

        $(document).ready(function () {
            $("#btnSubmit").click(function () {

                var list = [];
                $('#Items tr').each(function (index, ele) {
                    var orderItem = {
                       
                        details: $('.details', this).text(),
                        date: $('.date', this).text(),
                        expenses: parseFloat($('.expenses', this).text())
                    };
                    
                    list.push(orderItem);
                });
                console.log(list);
                var object = {};
                formData.forEach(function (value, key) {
                    object[key] = value;
                });
                object.TravelExpenseDto = list;
                console.log(object);
                var json = JSON.stringify(object);
                console.log(json);

                $.ajax({
                    type: 'POST',
                    url: '/Expenses/Create',
                    datatype: "Json",
                    data: json,
                    success: function () {
                        //alert('Successfully saved');
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

        })

    </script>
}
