@model EMS.Entity.DtoModel.TravelDto

@{
    ViewData["Title"] = "Create Expense";
    ViewData["Nav"] = "Expenses";
    ViewData["Nav2"] = "Request Expense";

    var user = await _userManager.GetUserAsync(User);

    var isFinance = User.IsInRole("Finance").ToString();

}
@inject UserManager<ApplicationUser>  _userManager;
@section Breadcrumbs{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Expenses" asp-action="Index">@ViewData["Nav"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Nav2"]</li>
    </ol>
}
<div class="card-header">

    <a asp-action="Create" class="btn btn-primary">
        <i class="fas fa-plus"></i>
        New Expense
    </a>
</div>
<div class="card-body">
    <form asp-action="Create" method="post" enctype="multipart/form-data" id="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="EmployeeFName" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="EmployeeFName" value="@user.FirstName" class="form-control" />
                        <span asp-validation-for="EmployeeFName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="EmployeeLName" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="EmployeeLName" value="@user.LastName" class="form-control" />
                        <span asp-validation-for="EmployeeLName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">

                    <label asp-for="Destination" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="Destination" class="form-control" />
                        <span asp-validation-for="Destination" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="Purpose" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="Purpose" class="form-control" />
                        <span asp-validation-for="Purpose" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="StartDate" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label asp-for="EndDate" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="StartTime" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label asp-for="EndTime" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="IBAN" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="IBAN" class="form-control" />
                        <span asp-validation-for="IBAN" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label asp-for="BankName" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="BankName" class="form-control" />
                        <span asp-validation-for="BankName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="Department" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="Department" class="form-control" />
                        <span asp-validation-for="Department" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label asp-for="Currency" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="Currency" class="form-control" />
                        <span asp-validation-for="Currency" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label class="control-label"></label>
                    <div class="form-label-group">
                        <input type="file" class="form-control" id="RecieptFile" name="RecieptFile" size="1" multiple />
                        <span asp-validation-for="RecieptFile" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div>

        </div>
        <hr />
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-4 pull-right">
                <br />
                <input type="button" value="Add Expenses" id="btnExpenses" data-toggle="modal" data-target="#loginModal" class="btn btn-primary" />
            </div>
        </div>
        <hr />
        <div class="col-md-10 col-md-offset-1" id="ExpensesList">
            <div class="col-md-10 col-md-offset-1">
                <br />
                <br />
                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <td>Date</td>
                            <td>Details </td>
                            <td>Expenses</td>

                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="Items"></tbody>
                </table>
            </div>
        </div>
        <div class="form-group pull-right">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="TotalExpenses" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="TotalExpenses" class="form-control" readonly />
                        <span asp-validation-for="TotalExpenses" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <input type="submit" value="Create" class="btn btn-primary pull-right" id="btnSubmit" />
                </div>
            </div>
        </div>
    </form>
</div>


<!--modal form-->
<div class="row">
    <div class="col-md-6">
        <div class="modal fade bs-example-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <h4 class="modal-header">Select Expenses</h4>
                    <div class="modal-body">
                        <div class="container">
                            <div class="col-md-6">
                                <label class="control-label">Expenses Category</label>
                                @Html.DropDownList("Details", new SelectList(ViewBag.ExpensesList, "Value", "Text"), "Select Expenses Category", new { @class = "form-control mstexpense", id = "Details" })

                                <div>
                                    <label class="control-label">Description</label>
                                    @Html.Editor("Date", new { htmlAttributes = new { @class = "form-control", @required=true, @type = "date", id = "Date" } })

                                    <label class="control-label">Price</label>
                                    @Html.Editor("Expenses", new { htmlAttributes = new { @class = "form-control",@required=true, @type = "number", id = "Price" } })
                                    <br />
                                </div>
                            </div>

                        </div>
                    </div>
                    <input type="hidden" value=@isFinance id="isFinance" />
                    <div class="modal-footer">
                        <a id="btnAdd" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </a>
                        <a id="BtnClose" class="btn btn-danger" data-dismiss="modal">
                            <span class="glyphicon glyphicon-off"></span> Close
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" src="~/js/expenses/create.js"></script>
}
