@model EMS.Entity.DtoModel.TravelDto

@{
    ViewData["Title"] = "Update Expense";
    ViewData["Nav"] = "Expenses";
    ViewData["Nav2"] = "Request Expense";
    var isFinance = User.IsInRole("Finance").ToString();


    var user = await _userManager.GetUserAsync(User);
}
@inject UserManager<ApplicationUser> _userManager;
@section Breadcrumbs{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="Expenses" asp-action="Index">@ViewData["Nav"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Nav2"]</li>
    </ol>
}
<div class="card-header">

    <a asp-action="Create" class="btn btn-primary">
        <i class="fas fa-plus"></i>
        New Expense
    </a>
</div>
<div class="card-body">
    <form asp-action="Edit" method="post" enctype="multipart/form-data" id="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="EmployeeFName" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="EmployeeFName" value="@user.FirstName" class="form-control" />
                        <span asp-validation-for="EmployeeFName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="EmployeeLName" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="EmployeeLName" value="@user.LastName" class="form-control" />
                        <span asp-validation-for="EmployeeLName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">

                    <label asp-for="Destination" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="Destination" class="form-control" />
                        <span asp-validation-for="Destination" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="Purpose" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="Purpose" class="form-control" />
                        <span asp-validation-for="Purpose" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="StartDate" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label asp-for="EndDate" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="StartTime" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label asp-for="EndTime" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="IBAN" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="IBAN" class="form-control" />
                        <span asp-validation-for="IBAN" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label asp-for="BankName" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="BankName" class="form-control" />
                        <span asp-validation-for="BankName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="Department" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="Department" class="form-control" />
                        <span asp-validation-for="Department" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label asp-for="Currency" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="Currency" class="form-control" />
                        <span asp-validation-for="Currency" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="RecieptFile" class="control-label"></label>
                    <div class="form-label-group">
                        <input type="file" asp-for="RecieptFile" class="form-control" id="RecieptFile" name="RecieptFile" />
                        <span asp-validation-for="RecieptFile" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        @{
            var travelExpenses = Model.TravelExpensesDtos;
        }

        @if (travelExpenses != null && travelExpenses.Count > 0)
        {

            <div class="col-md-10 col-md-offset-1">
                <hr />
                Expenses Details
                <hr />
                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <td>Details</td>
                            <td>Date</td>
                            <td>Price</td>


                        </tr>
                    </thead>
                    <tbody id="Items">
                        @foreach (var item in travelExpenses)
                        {
                            <tr>
                                <td class="Details">@item.Details</td>
                                <td class="Date">@item.Date</td>
                                <td class="Expenses">@item.Expenses</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        }
        <div class="form-group pull-right">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="TotalExpenses" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="TotalExpenses" class="form-control" readonly />
                        <span asp-validation-for="TotalExpenses" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input type="hidden" asp-for="TravelId" />
            <input type="hidden" value=@isFinance id="isFinance" />

        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <input type="submit" value="Save" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>



    </form>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    
    if ($('#isFinance').val() !== "" && $('#isFinance').val() === 'True') {
        $("#form input, #form select").prop("readonly", true);
        $("#form input").prop("disabled", true);
    }
</script>
}
