@model IEnumerable<EMS.Entity.DtoModel.TravelDto>

@{
    ViewData["Title"] = "Index";
    ViewData["Nav"] = "Expenses";
}

@section Breadcrumbs{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Nav"]</li>
    </ol>
}
<div class="card-header">

    <a asp-action="Create" class="btn btn-primary">
        <i class="fas fa-plus"></i>
        Create Expense
    </a>

</div>
<div class="card-body">
    <table class="table table-bordered table-sm dataTable" id="tblDatatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Destination)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Purpose)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>

                <th>Status</th>


                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                  var cssClass = "";
                    if(item.IsApproved == true)
                     { 
                        cssClass = "success";
                     }
                    else
                     {
                        cssClass = item.IsApproved == false ? "danger" : "primary";
                     }
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Purpose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("TeamLead"))
                    {

                        <button type="button" class="btn btn-@cssClass" style="min-width: 96px" data-toggle="modal" data-expenseid="@item.TravelId" data-target="#approvalModal" data-expensename="@item.Purpose">@item.GetApproval</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-@cssClass" style="min-width: 96px">@item.GetApproval</button>
                    }

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TravelId" title="Edit"><i class="fas fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.TravelId" title="Details"><i class="fas fa-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.TravelId" title="Delete"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="approvalModal" tabindex="-1" role="dialog" aria-labelledby="approvalModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approvalModalLabel">Expenses Approval</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="expense-name" class="col-form-label">Employee Name:</label>
                        <input type="text" readonly class="form-control" id="expense-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Comment:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnapprove" data-id="expense-id">Approve</button>
                <button type="button" class="btn btn-primary btnreject" data-id="expense-id">Reject</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#approvalModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var expense = button.data('expensename') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('Do you want to approve or reject ' + expense + '?')
            modal.find('.modal-body input').val(expense);
            modal.find('.btnapprove').attr('data-id', button.data('expenseid'));
            modal.find('.btnreject').attr('data-id', button.data('expenseid'));

        })

        $('.btnapprove').click(function () {
            var expenseId = $(this).last().attr("data-id");
            var status = true;
            Approval(expenseId, status);
        });
        $('.btnreject').click(function () {
            var expenseId = $(this).last().attr("data-id");
            var status = false;
            Approval(expenseId, status);
        });

        function Approval(id, status) {
            $.ajax({
                url: '/Expenses/Approval?id=' + id + '&status=' + status + '&comment=' + $("#message-text").val() +'',
                type: "GET",
                dataType: "JSON",
                success: function (data) {
                    console.log(data);
                     $('#approvalModal').hide();
                    alert("Your Form is Submitted!");
                    location.reload(true);
                }
            });

        }

    </script>

}
