@model EMS.Entity.DtoModel.DistributerDto

@{
    ViewData["Title"] = "Create";
    ViewData["Nav"] = "Distributer";
    ViewData["Nav2"] = "Request Distributer Account";
    List<EMS.Entity.Entities.Province> provinceList = ViewBag.ProvincesDetail;
}
@section Breadcrumbs{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="DistributerReg" asp-action="Index">@ViewData["Nav"]</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Nav2"]</li>
    </ol>
}
<div class="card-header">
        <div class="panel-heading">बितरक दर्ता </div>
        <div class="small-device-alert">
            <div class="alert alert-danger">
                For this operation you must have computer. It supports only on laptop, Desktop , PC .
            </div>
        </div>
</div>
<div class="card-body">
    <form asp-action="Create" method="post" enctype="multipart/form-data" id="form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="NepaliName" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="NepaliName" class="form-control" />
                        <span asp-validation-for="NepaliName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="EnglishName" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="EnglishName" class="form-control" />
                        <span asp-validation-for="EnglishName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="District" class="control-label"></label>
                    <div class="form-label-group">

                        <select asp-for="District" class="form-control">
                            <option disabled>
                                - Select Role -
                            </option>
                            @foreach (var province in provinceList)
                            {
                                <optgroup label="@province.ProvinceName">
                                    @foreach (var district in province.Districts)
                                    {
                                        <option value="@district.DistrictName">@district.DistrictName</option>
                                    }
                                </optgroup>


                            }
                        </select>
                        <span asp-validation-for="District" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="Municipality" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="Municipality" class="form-control" />
                        <span asp-validation-for="Municipality" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="wada" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="wada" class="form-control" />
                        <span asp-validation-for="wada" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="Tol" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="Tol" class="form-control" />
                        <span asp-validation-for="Tol" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="Locality" class="control-label"></label>
                    <div class="form-label-group">
                        <select asp-for="Locality" class="selectpicker form-control" name="Locality">
                            <option value="National(स्वदेशी)" selected>स्वदेशी</option>
                            <option value="International(विदेशी)">विदेशी</option>
                            <option value="National/International(स्वदेशी/विदेशी)">स्वदेशी/विदेशी</option>
                        </select>
                        <span asp-validation-for="Locality" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="PermissionDate" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="PermissionDate" class="form-control" />
                        <span asp-validation-for="PermissionDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">

                <div class="col-md-6">
                    <label asp-for="LastDate" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="LastDate" class="form-control" />
                        <span asp-validation-for="LastDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="Proprietor" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="Proprietor" class="form-control" />
                        <span asp-validation-for="Proprietor" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="ProprietorEmail" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="ProprietorEmail" class="form-control" />
                        <span asp-validation-for="ProprietorEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="ProprietorPhone" class="control-label"></label>
                    <div class="form-label-group">
                        <input asp-for="ProprietorPhone" class="form-control" />
                        <span asp-validation-for="ProprietorPhone" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="CompanyRegDoc" class="control-label"></label>
                  
                    <div class="form-label-group">
                        <input type="file" asp-for="CompanyRegDoc" id="CompanyRegDoc" name="CompanyRegDoc" accept="application/pdf" size="2048000" />
                        <span asp-validation-for="CompanyRegDoc" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="IncomeTaxDoc" class="control-label"></label>
                  
                    <div class="form-label-group">
                        <input type="file" asp-for="IncomeTaxDoc" id="IncomeTaxDoc" name="IncomeTaxDoc" accept="application/pdf" />
                        <span asp-validation-for="IncomeTaxDoc" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <label asp-for="DistributionRightDoc" class="control-label"></label>
                
                    <div class="form-label-group">
                        <input type="file" asp-for="DistributionRightDoc" id="DistributionRightDoc" name="DistributionRightDoc" accept="application/pdf" />
                        <span asp-validation-for="DistributionRightDoc" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label asp-for="RegDoc" class="control-label"></label>
                  
                    <div class="form-label-group">
                        <input type="file" asp-for="RegDoc" id="RegDoc" name="RegDoc" accept="application/pdf" />
                        <span asp-validation-for="RegDoc" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <input type="submit" value="Create" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
