@model IEnumerable<EMS.Entity.DtoModel.DistributerDto>

@{
    ViewData["Title"] = "Index";
    ViewData["Nav"] = "Distribution";
}
@section Breadcrumbs{
            <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">@ViewData["Nav"]</li>
        </ol>
}

<div class="card-header">

    <a asp-action="Create" class="btn btn-primary">
        <i class="fas fa-plus"></i>
        Add New
    </a>
</div>
<div class="card-body">
<table class="table" id="tblDatatable">
    <thead>
        <tr>
           
         
            <th>
                @Html.DisplayNameFor(model => model.EnglishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietor)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
        
            <td>
                @Html.DisplayFor(modelItem => item.EnglishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proprietor)
            </td>
         
            <td>
                <a asp-action="Edit" asp-route-id="@item.DistributerId" title="Edit"><i class="fas fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.DistributerId" title="Details"><i class="fas fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.DistributerId" title="Delete"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
